.header {
    min-height: 25px;
    background-color: #ADD8E6;
    padding: 10px 10px;
}

body {
    margin: 0;
}

.logo {
    max-height: 60px;
}

.hint {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 5%;
    margin-left: auto;
}

.progress {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
}

.hint:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.hint:hover {
    background-color: #2c974b;
}

.hint:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.hint:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.field {
    margin: 10% 33%;
    border:4px solid blue;
    border-radius: 10px;
    padding: 2% 2%;
    text-align: center;
}

.field > * {
    display: inline-block;
}

.cell {
    margin: 6px 6px;
    padding: 3px 3px;
    min-height: 30px;
    min-width: 30px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Impact', sans-serif;
}

.cell.inactive {
    background-color: brown;
}

.cell.active {
    background-color: aquamarine;
}

.cell.active.pushed {
    background-color: darkorange;
}
